<style>

</style>

<section class="faq-section">
  <div class="main-content">
    <h2><%-(pc&&pc.faq)?pc?.faq?.title:''%> </h2>

  <div class="faq-item">
    <div class="faq-question">
      <%-(pc&&pc.faq)?pc?.faq?.items[0]?.q:''%>
      <span class="faq-icon">+</span>
    </div>
    <div class="faq-answer">
      <%-(pc&&pc.faq)?pc?.faq?.items[0]?.a:''%>
    </div>
  </div>

  <div class="faq-item active">
    <div class="faq-question">
      <%-(pc&&pc.faq)?pc?.faq?.items[1]?.q:''%>
      <span class="faq-icon">−</span>
    </div>
    <div class="faq-answer">
      <%-(pc&&pc.faq)?pc?.faq?.items[1]?.a:''%>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <%-(pc&&pc.faq)?pc?.faq?.items[2]?.q:''%>
      <span class="faq-icon">+</span>
    </div>
    <div class="faq-answer">
      <%-(pc&&pc.faq)?pc?.faq?.items[2]?.a:''%>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <%-(pc&&pc.faq)?pc?.faq?.items[3]?.q:''%>
      <span class="faq-icon">+</span>
    </div>
    <div class="faq-answer">
      <%-(pc&&pc.faq)?pc?.faq?.items[3]?.a:''%>
    </div>
  </div>
  </div>
</section>

<script>
document.querySelectorAll(".faq-item").forEach(item => {
  item.addEventListener("click", () => {
    item.classList.toggle("active");
    const icon = item.querySelector(".faq-icon");
    icon.textContent = item.classList.contains("active") ? "−" : "+";
  });
});
</script>
