<style>

/* RESPONSIVE */
@media (max-width: 1200px) {
    .issue .issue-list {
        grid-template-columns: 1fr;
    }
    .issue .issue-card {
        width: 90%;
        max-width: 572px;
    }
}
</style>

<div class="issue">
  <div class="main-content">
    <h2 class="title"><%-pc?.issue?.title%></h2>
    <div class="issue-list">
      <div class="issue-card">
        <img src="<%= pc?.issue?.img_items[0]?.img ? ('/uploads/'+pc.issue.img_items[0].img) : '/img/default.png' %>" loading="lazy" alt="">
        <h3 class="desc"><%-pc?.issue?.img_items?.[0]?.desc%></h3>
      </div>
      <div class="issue-card">
        <img src="<%= pc?.issue?.img_items[0]?.img ? ('/uploads/'+pc.issue.img_items[1].img)  : '/img/default.png' %>" loading="lazy" alt="">
        <h3 class="desc"><%-pc?.issue?.img_items?.[1]?.desc%></h3>
      </div>
      <div class="issue-card">
        <img src="<%= pc?.issue?.img_items[0]?.img ? ('/uploads/'+pc.issue.img_items[2].img)  : '/img/default.png' %>" loading="lazy" alt="">
        <h3 class="desc"><%-pc?.issue?.img_items?.[2]?.desc ||''%></h3>
      </div>
      <div class="issue-card">
        <img src="<%= pc?.issue?.img_items[0]?.img ? ('/uploads/'+pc.issue.img_items[3].img)  : '/img/default.png' %>" loading="lazy" alt="">
        <h3 class="desc"><%-pc?.issue?.img_items?.[3]?.desc%></h3>
      </div>
    </div>

    <div class="issue-summary">
      <p class="desc">
        <%-pc?.issue?.summary%>
      </p>
    </div>
  </div>
</div>
