
<section class="solution">
  <div class="main-content">
    <h2 class="sol-title"><%=ps.solution.title%></h2>
    <div class="sol-grid">
      <!-- card1 -->
      <div class="sol-card">
        <div class="icon">
          <span><svg width="28" height="46" viewBox="0 0 28 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.098 0.00664717C19.6775 0.0650434 20.1312 0.554684 20.1312 1.1499V4.10795C20.1312 5.96771 21.1172 7.69044 22.7231 8.63153L23.06 8.82919L23.2532 8.94823C25.2387 10.2015 26.4494 12.3892 26.4494 14.7499C26.4494 15.9358 26.1394 17.0925 25.5666 18.1123C26.8222 19.3611 27.5993 21.0883 27.5993 22.9997C27.5993 24.9111 26.8222 26.6361 25.5666 27.8849C26.1394 28.9046 26.4494 30.0614 26.4494 31.2495C26.4494 33.6102 25.2387 35.7978 23.2532 37.0512L23.06 37.1703L22.7231 37.3679C21.1172 38.309 20.1312 40.0317 20.1312 41.8915V44.8495C20.1312 45.4852 19.6168 45.9995 18.9812 45.9995H8.61813C7.98247 45.9995 7.46814 45.4852 7.46814 44.8495V41.8915C7.46814 40.0902 6.54275 38.4168 5.02667 37.4578L4.87618 37.3679L4.53927 37.1703C2.43923 35.9372 1.14998 33.6844 1.14998 31.2496C1.14998 30.0637 1.45994 28.9047 2.03271 27.8872C0.777159 26.6384 0 24.9112 0 22.9998C0 21.0884 0.777159 19.3612 2.03271 18.1123C1.45997 17.0926 1.14998 15.9359 1.14998 14.75C1.14998 12.3152 2.43923 10.0624 4.53927 8.82925L4.87618 8.6316L5.02667 8.54176C6.54275 7.58267 7.46814 5.90938 7.46814 4.10805V1.15L7.47488 1.0332C7.53328 0.453727 8.02292 0 8.61814 0H18.9812L19.098 0.00664717ZM8.61761 25.8744C7.55071 25.8744 6.52654 26.2832 5.75611 27.0132L5.60338 27.1637L4.71168 28.1003C3.90083 28.9493 3.4494 30.0768 3.4494 31.2493C3.4494 32.8687 4.3074 34.3668 5.70222 35.1867L6.04137 35.3843L6.25475 35.5146C8.43793 36.8936 9.7676 39.2992 9.7676 41.8912V43.6993H17.8307V41.8912C17.8307 39.2162 19.2479 36.7388 21.5569 35.3846L21.8961 35.187L22.0241 35.1061C23.3448 34.2728 24.1489 32.8196 24.1489 31.2496C24.1489 30.1513 23.7513 29.0912 23.0348 28.2624L22.8866 28.1007L21.9478 27.1147C21.1908 26.3241 20.1419 25.8749 19.0481 25.8749H17.943C17.5162 25.8749 17.1097 26.0478 16.8133 26.351L16.7571 26.4139C15.3017 28.0738 12.7703 28.1816 11.1846 26.688L11.0341 26.5375L10.9129 26.4117C10.5849 26.068 10.1312 25.8749 9.6573 25.8749L8.61761 25.8744ZM3.47189 19.9313C2.74418 20.7466 2.29943 21.8203 2.29943 22.9994C2.29943 24.1785 2.74415 25.2522 3.47189 26.0653L3.94132 25.5756L4.17491 25.342C5.37205 24.21 6.9623 23.5744 8.61765 23.5744H9.65758C10.7604 23.5744 11.816 24.0258 12.5774 24.8232L12.6965 24.949L12.7594 25.0096C13.404 25.6183 14.4327 25.5734 15.0256 24.8973L15.1671 24.7446C15.8949 23.9989 16.8966 23.5744 17.9433 23.5744H19.0483C20.7711 23.5744 22.4219 24.2797 23.6123 25.5284L24.1267 26.0652C24.8544 25.2521 25.2992 24.1786 25.2992 22.9994C25.2992 21.8202 24.8544 20.7466 24.1267 19.9313L23.6123 20.4703C22.4219 21.7192 20.7711 22.4244 19.0483 22.4244H17.9433C16.8966 22.4244 15.8949 21.9999 15.1671 21.2542L15.0256 21.1014C14.4327 20.4254 13.404 20.3804 12.7594 20.9891L12.6965 21.0498L12.5774 21.1756C11.816 21.9729 10.7604 22.4244 9.65758 22.4244H8.61765C6.9623 22.4244 5.3721 21.7887 4.17491 20.6567L3.94132 20.4231L3.47189 19.9313ZM9.76748 4.10749C9.76748 6.69944 8.43781 9.10498 6.25462 10.4842L6.04125 10.6144L5.7021 10.8121C4.30728 11.6319 3.44928 13.13 3.44928 14.7495C3.44928 15.9219 3.90074 17.0494 4.71156 17.8985L5.60326 18.8351L5.75599 18.9856C6.52636 19.7155 7.55059 20.1243 8.61749 20.1243H9.65742C10.1313 20.1243 10.5851 19.9312 10.913 19.5875L11.0343 19.4617L11.1847 19.3113C12.7705 17.8176 15.3018 17.9254 16.7572 19.5853L16.8134 19.6482C17.1099 19.9514 17.5164 20.1243 17.9431 20.1243H19.0482C20.142 20.1243 21.191 19.6751 21.9479 18.8845L22.8867 17.8985L23.035 17.7368C23.7515 16.908 24.149 15.8479 24.149 14.7496C24.149 13.1795 23.3449 11.7264 22.0242 10.8931L21.8962 10.8122L21.5571 10.6146C19.2481 9.26018 17.8308 6.78277 17.8308 4.10796V2.2999H9.76772L9.76748 4.10749Z" fill="black"/>
</svg>
</span>
        </div>
        <h3 class="title"><%=ps.solution.cards[0].title%></h3>
        <p class="desc">
          <%=ps.solution.cards[0].desc%>
        </p>
        <!-- <p class="desc">
          Hiểu rõ nhất ở vùng lưng - tay - chân, rất phổ biến ở người cao tuổi
        </p> -->
      </div>
      <!-- card 2 -->
      <div class="sol-card">
        <div class="icon">
          <span><svg width="47" height="46" viewBox="0 0 47 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3904 28.409C19.0311 29.0497 19.0311 30.0909 18.3904 30.7316C18.07 31.052 17.649 31.2121 17.2281 31.2121C16.8071 31.2121 16.3881 31.052 16.0658 30.7316C14.8952 29.561 12.9895 29.561 11.8169 30.7316C11.1762 31.3723 10.1351 31.3723 9.49433 30.7316C8.85154 30.0909 8.85359 29.0497 9.49433 28.409C11.9463 25.955 15.9385 25.955 18.3884 28.409H18.3904ZM41.8383 35.7196C41.8445 35.8613 41.8712 36.0009 41.8712 36.1426C41.8712 41.5785 37.4498 45.9998 32.014 45.9998C28.5866 45.9998 25.5656 44.2398 23.7997 41.5805C22.0336 44.2419 19.0128 45.9998 15.5854 45.9998C10.1495 45.9998 5.72827 41.5784 5.72827 36.1426C5.72827 35.9968 5.7447 35.8654 5.75291 35.7278C2.76291 33.6496 0.799683 30.1936 0.799683 26.2854C0.799683 23.1579 2.05441 20.2276 4.26614 18.0775C4.0382 16.9501 4.02382 15.7651 4.29489 14.5823C4.90482 11.9352 6.74482 9.90427 9.06738 8.90405C9.04479 8.67405 9.01399 8.43994 9.01399 8.21405C9.01399 3.68591 12.7001 -0.000244141 17.2283 -0.000244141C19.9246 -0.000244141 22.3006 1.32429 23.7997 3.33683C25.2988 1.32435 27.6748 -0.000244141 30.3711 -0.000244141C34.8993 -0.000244141 38.5854 3.68591 38.5854 8.21405C38.5854 8.43994 38.5752 8.66583 38.5526 8.8938C40.9224 9.92467 42.7193 12.0275 43.3087 14.5799C43.5797 15.7381 43.5879 16.9292 43.3415 18.0792C45.4711 20.1677 46.7997 23.0735 46.7997 26.2851C46.7997 30.0698 44.9146 33.5836 41.8383 35.719V35.7196ZM22.1566 36.1426V14.8391C20.678 14.9726 19.3719 15.8166 18.6984 17.1637C18.4088 17.7388 17.8297 18.0714 17.228 18.0714C16.9816 18.0714 16.731 18.016 16.4949 17.8969C15.6837 17.4903 15.3552 16.5046 15.7597 15.6934C16.996 13.223 19.4254 11.6643 22.1587 11.5267V8.21427C22.1587 5.49738 19.9471 3.2857 17.2302 3.2857C14.5133 3.2857 12.3016 5.49738 12.3016 8.21427C12.3016 8.21838 12.3036 8.22454 12.3036 8.2307C12.9115 8.2307 13.5276 8.28204 14.1477 8.42374C15.0308 8.62704 15.5832 9.51007 15.3799 10.3931C15.1766 11.2762 14.2936 11.8286 13.4105 11.6253C10.7697 11.0154 8.11239 12.6726 7.50256 15.3196C7.01176 17.4472 7.95024 19.6075 9.83952 20.6977C10.624 21.1515 10.895 22.1557 10.4412 22.9422C10.1373 23.47 9.58486 23.7637 9.01604 23.7637C8.73675 23.7637 8.45542 23.6938 8.19666 23.5439C7.21095 22.9751 6.40182 22.2173 5.75088 21.3548C4.6851 22.7574 4.08952 24.4721 4.08952 26.2834C4.08952 30.8115 7.77567 34.4977 12.3038 34.4977C13.2115 34.4977 13.9467 35.2328 13.9467 36.1405C13.9467 37.0482 13.2115 37.7834 12.3038 37.7834C11.2052 37.7834 10.1455 37.6191 9.13927 37.3295C9.70194 40.3853 12.3736 42.7118 15.5898 42.7118C19.2143 42.7118 22.1612 39.7629 22.1612 36.1404L22.1566 36.1426ZM43.5137 26.2855C43.5137 21.7573 39.8276 18.0712 35.2995 18.0712C34.3651 18.0712 33.4431 18.2293 32.5538 18.5373C31.7057 18.8372 30.761 18.3833 30.4612 17.527C30.1634 16.6706 30.6152 15.7342 31.4716 15.4344C32.7078 15.0031 33.9954 14.7854 35.2974 14.7854C37.0511 14.7854 38.7083 15.192 40.1972 15.8964C40.1766 15.7054 40.152 15.5124 40.1068 15.3235C39.6715 13.4445 38.2196 12.0234 36.3139 11.6106C35.8703 11.5141 35.4863 11.2389 35.2542 10.8488C35.0201 10.4586 34.9585 9.99037 35.0818 9.55298C35.2296 9.03547 35.2974 8.61037 35.2974 8.21404C35.2974 5.49714 33.0857 3.28546 30.3688 3.28546C27.6519 3.28546 25.4402 5.49714 25.4402 8.21404V27.9283H26.695C28.3337 27.9283 29.8082 27.0165 30.5413 25.5503C30.9479 24.7391 31.9336 24.4085 32.7448 24.8172C33.556 25.2238 33.8845 26.2095 33.4799 27.0207C32.1862 29.6082 29.5843 31.2141 26.693 31.2141H25.4382V36.1427C25.4382 39.7652 28.3851 42.7141 32.0097 42.7141C35.6342 42.7141 38.5811 39.7652 38.5811 36.1427C38.5811 34.7072 38.1273 33.3437 37.2668 32.1998C36.7226 31.4749 36.8684 30.444 37.5933 29.8998C38.3182 29.3535 39.3471 29.5014 39.8933 30.2263C40.3451 30.828 40.6942 31.4811 40.9941 32.1547C42.5671 30.6309 43.5076 28.5301 43.5076 26.2856L43.5137 26.2855Z" fill="black"/>
</svg>
</span>
        </div>
        <h3 class="title"><%=ps.solution.cards[1].title%></h3>
        <p class="desc">
          <%=ps.solution.cards[1].desc%>
        </p>
        <!-- <p class="desc">
          Giúp ngủ ngon, sâu hơn và rút ngắn thời gian vào giấc.
        </p> -->
      </div>
      <!-- card 3 -->
      <div class="sol-card">
        <div class="icon">
          <span><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M46.283 38.8192L43.694 37.3451V27.25L46.0812 25.927C46.4673 25.7133 46.6084 25.2233 46.3928 24.8353C46.1772 24.4463 45.6873 24.311 45.3011 24.5227L42.8995 25.8545L34.3629 20.8974V10.8064L37.0931 9.38628C37.487 9.18149 37.6399 8.69642 37.4341 8.30345C37.2283 7.90945 36.7423 7.75765 36.3522 7.96142L33.5831 9.40167L24.9739 4.34296V1.80255C24.9739 1.35966 24.6142 1 24.1713 1C23.7284 1 23.3688 1.35966 23.3688 1.80255V4.33878L14.553 9.42734L11.9838 7.97527C11.5968 7.75377 11.1058 7.89295 10.8902 8.27909C10.6716 8.66524 10.8079 9.15521 11.194 9.37273L13.7546 10.82V20.9487L4.88405 25.9456L2.19804 24.4286C1.8119 24.2071 1.32 24.3453 1.10441 24.7314C0.885862 25.1176 1.02208 25.6075 1.40823 25.827L4.08058 27.3369V37.4611L1.41312 38.9446C1.02504 39.1602 0.885862 39.6483 1.10145 40.0363C1.24847 40.3009 1.52183 40.4499 1.80405 40.4499C1.93538 40.4499 2.06967 40.4166 2.19305 40.348L4.87447 38.8568L13.4115 43.8166V46.1964C13.4115 46.6393 13.7712 47 14.2141 47C14.657 47 15.0166 46.6394 15.0166 46.1964V43.8217L23.8751 38.7969L32.4167 43.7593V46.1964C32.4167 46.6393 32.7773 47 33.2203 47C33.6633 47 34.0239 46.6394 34.0239 46.1964V43.7642L42.8887 38.7353L45.4873 40.2148C45.6127 40.2854 45.7499 40.3207 45.8851 40.3207C46.1635 40.3207 46.4339 40.1737 46.5829 39.915C46.8023 39.5286 46.6671 39.0387 46.283 38.8192ZM15.3596 10.8151L24.1674 5.73115L32.7557 10.7789V20.8861L30.6119 22.1021L23.8713 25.8987L18.0067 22.4934L15.3596 20.9557V10.8151ZM14.219 42.4293L5.68558 37.4708V27.3361L14.5512 22.3432L17.7265 24.1869L23.0827 27.298V37.4001L14.219 42.4293ZM42.0869 37.3434L33.2242 42.3725L24.6908 37.4139V27.3054L31.3609 23.5233L33.5573 22.2865L42.0869 27.2402V37.3434Z" fill="black" stroke="black"/>
<path d="M18.3358 12.9907L24.1273 9.64713L29.7786 12.9662C30.1589 13.1916 30.6508 13.0643 30.8762 12.6811C31.1015 12.2989 30.9742 11.807 30.59 11.5825L24.5379 8.02624C24.289 7.8783 23.9793 7.8783 23.7294 8.02237L17.5322 11.6002C17.149 11.8217 17.0168 12.3126 17.2392 12.6968C17.3872 12.9535 17.6577 13.0976 17.935 13.0976C18.0712 13.0975 18.2094 13.0631 18.3358 12.9907Z" fill="black" stroke="black"/>
<path d="M8.09723 27.9301C7.65433 27.9301 7.29468 28.2906 7.29468 28.7336V36.0577C7.29468 36.5006 7.65433 36.8613 8.09723 36.8613C8.54012 36.8613 8.89978 36.5007 8.89978 36.0577V28.7336C8.89978 28.2906 8.54023 27.9301 8.09723 27.9301Z" fill="black" stroke="black"/>
<path d="M39.5448 36.6848C39.9877 36.6848 40.3484 36.3243 40.3484 35.8813V28.7335C40.3484 28.2906 39.9878 27.9299 39.5448 27.9299C39.1019 27.9299 38.7412 28.2905 38.7412 28.7335V35.8813C38.7412 36.3243 39.1019 36.6848 39.5448 36.6848Z" fill="black" stroke="black"/>
</svg>
</span>
        </div>
        <h3 class="title"><%=ps.solution.cards[2].title%></h3>
        <!-- <p class="desc">
          Dòng điện sinh học thúc đẩy lưu thông máu, khai thông kinh mạch.
        </p> -->
        <p class="desc">
            <%=ps.solution.cards[2].desc%>
        </p>
      </div>
      <!-- card 4 -->
      <div class="sol-card">
        <div class="icon">
          <span><svg width="40" height="46" viewBox="0 0 40 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.5203 0.481953L19.7995 -0.000244141L19.0787 0.481953C17.4513 1.57442 15.7686 2.59661 14.0708 3.52333C10.0325 5.72338 5.73267 7.47633 1.2778 8.74965L0.346069 9.01335V21.9549C0.346069 23.0348 0.461598 24.0896 0.692648 25.0741C1.58671 28.9066 3.19905 32.4428 5.49456 35.5796C7.88549 38.8596 12.2376 43.2948 19.3677 45.8466L19.7997 45.9998L20.2317 45.8466C27.3617 43.3 31.7137 38.8573 34.1048 35.5796C36.4003 32.4353 38.0126 28.9066 38.9067 25.0741C39.1378 24.0897 39.2533 23.0348 39.2533 21.9549V9.01335L38.3216 8.74965C33.8662 7.48385 29.5591 5.72087 25.5285 3.52333C23.8182 2.5916 22.1406 1.56941 20.5258 0.481953H20.5203ZM36.6842 21.9571C36.6842 22.8436 36.5887 23.7 36.4079 24.4911C35.5917 27.9821 34.125 31.204 32.0355 34.065C29.9007 36.9833 26.0632 40.9187 19.8069 43.2718C13.5509 40.9185 9.70585 36.9832 7.5784 34.065C5.48887 31.2045 4.01714 27.9823 3.20596 24.4911C3.02011 23.695 2.9297 22.8461 2.9297 21.9571V10.9495C7.23681 9.65611 11.3984 7.92072 15.319 5.78092C16.8359 4.95212 18.3477 4.05054 19.8119 3.09366C21.2711 4.04552 22.7755 4.95212 24.2999 5.78092C28.2228 7.91564 32.3816 9.65104 36.6892 10.9495V21.9571H36.6842Z" fill="black"/>
<path d="M21.0853 14.4233H18.5136V21.8093H11.1276V24.381H18.5136V31.767H21.0853V24.381H28.4713V21.8093H21.0853V14.4233Z" fill="black"/>
</svg>
</span>
        </div>
        <h3 class="title"><%=ps.solution.cards[3].title%></h3>
        <p class="desc">
          <%=ps.solution.cards[3].desc%>
        </p>
      </div>
      <!-- card 5 -->
      <div class="sol-card">
        <div class="icon">
          <span><svg width="43" height="46" viewBox="0 0 43 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M40.8227 11.9958C39.1297 9.14196 36.421 7.49737 32.9867 7.15878C29.7459 6.82019 27.1339 7.64248 25.1991 9.57729C24.7154 10.061 24.0382 10.3028 23.4094 10.1577C23.0708 10.1094 22.442 9.86751 22.1034 9.14196C21.3295 7.40063 20.8942 4.74027 20.8942 1.16088C20.8942 0.532072 20.3621 0 19.7333 0H13.8321C13.2033 0 12.6712 0.483701 12.6712 1.11251C12.6712 1.69295 12.4778 15.4784 20.5072 18.8644C21.1844 19.1546 21.5714 19.9285 21.523 20.7024C21.4746 21.0894 21.4746 21.4763 21.4262 21.7182C21.3779 22.0568 21.3295 22.3954 21.2811 22.8307C21.0393 24.959 20.5556 29.409 18.8626 30.183C17.9436 30.5699 16.686 29.8927 15.7186 29.2156C13.0582 27.3291 10.5913 26.8938 8.3663 27.9096C2.36841 30.715 0.917303 43.2913 0.772192 44.7424C0.723822 45.081 0.868932 45.3712 1.06241 45.613C1.30426 45.8549 1.59448 46 1.93308 46H7.78586C8.41467 46 8.89837 45.5163 8.94674 44.9359C9.14023 41.2114 10.2044 37.5352 11.1234 37.2934C11.4136 37.245 12.2843 37.632 13.6386 39.8086C15.9604 43.4364 19.7333 45.2261 24.2317 44.8391C30.81 44.2587 37.5819 39.2282 40.2422 32.8433C42.9509 26.5068 44.1602 17.6067 40.8227 11.9958ZM21.3779 16.8328C15.9604 14.511 15.0898 5.56257 14.993 2.37014H18.6208C18.7175 5.70768 19.1528 8.27129 20.0235 10.1094C20.6039 11.367 21.6681 12.1893 23.0225 12.4311C24.4252 12.673 25.8279 12.2376 26.8437 11.1735C28.2464 9.7224 30.1812 9.14196 32.7449 9.38381C35.4536 9.62566 37.5335 10.8833 38.8395 13.1083C40.2422 15.4301 40.7743 18.816 40.4841 22.4921L40.0487 22.3954C38.3558 22.0084 36.6145 22.1535 35.0182 22.8307C33.5671 23.4595 31.8742 23.4595 30.4231 22.8791L30.0361 22.7823C28.6334 22.2019 27.0855 22.0084 25.5861 22.2503L23.6029 22.5889C23.6029 22.4437 23.6513 22.2503 23.6513 22.1052C23.6996 21.8149 23.748 21.3796 23.748 20.9443C23.9415 19.2029 22.9741 17.51 21.3779 16.8328ZM24.0382 42.5174C21.4746 42.7592 17.9436 42.2271 15.5735 38.551C14.8963 37.5352 12.9131 34.4395 10.4946 35.0684C7.78586 35.7939 6.96357 40.9695 6.72172 43.6782H3.23907C3.81951 39.5668 5.65758 31.7308 9.33371 30.0862C10.7848 29.409 12.4294 29.796 14.3642 31.1987C16.4441 32.6498 18.2338 33.0852 19.7817 32.408C22.2002 31.3438 22.9741 27.9096 23.361 25.0074L25.973 24.572C27.0372 24.3785 28.1497 24.5237 29.1655 24.959L29.5524 25.1041C30.5682 25.5394 31.6323 25.7329 32.6965 25.7329C33.809 25.7329 34.9215 25.4911 35.9373 25.0557C37.0982 24.572 38.3558 24.4753 39.565 24.7171L40.2422 24.8622C39.8553 27.184 39.1781 29.6025 38.1623 31.9243C35.7922 37.4869 29.7459 42.0336 24.0382 42.5174Z" fill="black"/>
<path d="M27.0856 31.3923C28.1274 31.3923 28.972 30.5477 28.972 29.5058C28.972 28.464 28.1274 27.6194 27.0856 27.6194C26.0437 27.6194 25.1991 28.464 25.1991 29.5058C25.1991 30.5477 26.0437 31.3923 27.0856 31.3923Z" fill="black"/>
<path d="M28.7302 37.9223C29.772 37.9223 30.6166 37.0777 30.6166 36.0359C30.6166 34.994 29.772 34.1494 28.7302 34.1494C27.6883 34.1494 26.8437 34.994 26.8437 36.0359C26.8437 37.0777 27.6883 37.9223 28.7302 37.9223Z" fill="black"/>
<path d="M33.7122 32.2146C34.4602 32.2146 35.0666 31.6082 35.0666 30.8602C35.0666 30.1122 34.4602 29.5059 33.7122 29.5059C32.9642 29.5059 32.3579 30.1122 32.3579 30.8602C32.3579 31.6082 32.9642 32.2146 33.7122 32.2146Z" fill="black"/>
<path d="M22.2002 39.1313C23.055 39.1313 23.748 38.4383 23.748 37.5835C23.748 36.7286 23.055 36.0356 22.2002 36.0356C21.3453 36.0356 20.6523 36.7286 20.6523 37.5835C20.6523 38.4383 21.3453 39.1313 22.2002 39.1313Z" fill="black"/>
</svg>
</span>
        </div>
        <h3 class="title"><%=ps.solution.cards[4].title%></h3>
        <div style="display: flex; gap: 30px; justify-content: space-between;">
            <div class="col-lef">
                <p class="desc">
                    <%=ps.solution.cards[4].desc%>
                </p>
            </div>
            <div class="col-right">
                <p class="desc">
                    Giúp ăn ngon miệng và hấp thụ dinh dưỡng tốt hơn. Đặc biệt hữu ích cho chứng táo bón mãn tính.
                </p>
            </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="sol-video">
      <div class="vid-wrap">
        <iframe width="100%" height="100%" loading="lazy" src="<%=ps.solution.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
