<style>
    
</style>
<section class="warranty">
  <div class="main-content">
    <h2><%=ps.warranty.title%></h2>
  <div class="warranty-grid">

    <div class="warranty-card">
      <div class="icon">
        <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M54.2845 12.3381L42 0.0537109L29.7156 12.3381H12.3383V29.7155L0.053894 42L12.3383 54.2844V71.6617H29.7156L42 83.9461L54.2845 71.6617H71.6618V54.2844L83.9462 42L71.6618 29.7155V12.3381H54.2845ZM35.7602 60.1282L62.8488 30.5773L58.7023 26.7762L35.5836 51.9967L25.125 41.5381L21.1476 45.5156L35.7602 60.1282Z" fill="#0BA84C"/>
</svg>

      </div>
      <p><%=ps.warranty.items[0]%></p>
    </div>

    <div class="warranty-card">
      <div class="icon">
        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M36.9924 5.72246L19.6714 33.8692L14.8807 30.9211L32.2018 2.77441L36.9924 5.72246ZM57.7984 2.77441L75.1194 30.9211L70.3288 33.8692L53.0077 5.72246L57.7984 2.77441Z" fill="#0BA84C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 28.125H86.25V43.125H3.75V28.125Z" fill="#0BA84C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M61.875 75.2273L48.5226 61.8749L61.875 48.5225L65.8524 52.4999L56.4774 61.8749L65.8524 71.2499L61.875 75.2273Z" fill="#0BA84C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.9375 64.6875H52.5V59.0625H75.9375C83.1863 59.0625 89.0625 64.9388 89.0625 72.1875C89.0625 79.4363 83.1863 85.3125 75.9375 85.3125H71.25V79.6875H75.9375C80.0796 79.6875 83.4375 76.3296 83.4375 72.1875C83.4375 68.0454 80.0796 64.6875 75.9375 64.6875Z" fill="#0BA84C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M65.6316 79.4145C63.423 81.3992 60.0221 81.3294 57.8976 79.2049L44.5451 65.8524C43.4902 64.7976 42.8976 63.3669 42.8976 61.875C42.8976 60.3833 43.4902 58.9524 44.5451 57.8976L53.6925 48.75H11.0165L14.0388 72.5644C14.7054 78.2301 19.5071 82.5 25.2118 82.5H64.7884C65.0696 82.5 65.3486 82.4897 65.625 82.4692V79.6875C65.625 79.596 65.6273 79.5049 65.6316 79.4145ZM33.0058 74.7924L31.6674 56.0567L26.0569 56.4576L27.3951 75.1933L33.0058 74.7924Z" fill="#0BA84C"/>
</svg>

      </div>
      <p><%=ps.warranty.items[1]%></p>
    </div>

    <div class="warranty-card">
      <div class="icon">
        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M45 1.875C23.2875 1.875 5.625 19.5375 5.625 41.25V63.75C5.625 68.9194 9.83063 73.125 15 73.125H26.25C27.285 73.125 28.125 72.285 28.125 71.25V45C28.125 43.965 27.285 43.125 26.25 43.125H9.375V41.25C9.375 21.6056 25.3556 5.625 45 5.625C64.6444 5.625 80.625 21.6056 80.625 41.25V43.125H63.75C62.715 43.125 61.875 43.965 61.875 45V71.25C61.875 72.285 62.715 73.125 63.75 73.125H75C77.1188 73.125 79.0537 72.3919 80.625 71.2012V73.125C80.625 78.2944 76.4194 82.5 71.25 82.5H65.625V80.625C65.625 79.59 64.785 78.75 63.75 78.75H45C43.965 78.75 43.125 79.59 43.125 80.625V86.25C43.125 87.285 43.965 88.125 45 88.125H63.75C64.785 88.125 65.625 87.285 65.625 86.25H71.25C78.4875 86.25 84.375 80.3625 84.375 73.125V41.25C84.375 19.5375 66.7125 1.875 45 1.875Z" fill="#0BA84C"/>
</svg>

      </div>
      <p><%=ps.warranty.items[2]%></p>
    </div>

    <div class="warranty-card">
      <div class="icon">
        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 7.5H18.7502L18.75 52.5C18.75 55.6065 21.2685 58.125 24.375 58.125H78.75V63.75H24.375C18.1618 63.75 13.125 58.7132 13.125 52.5L13.1252 13.125H7.5V7.5Z" fill="#0BA84C"/>
<path d="M54.375 13.125H73.125V52.5H24.375V13.125H43.125V30H54.375V13.125Z" fill="#0BA84C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.125 77.8125C13.125 73.1526 16.9026 69.375 21.5625 69.375C26.2224 69.375 30 73.1526 30 77.8125C30 82.4724 26.2224 86.25 21.5625 86.25C16.9026 86.25 13.125 82.4724 13.125 77.8125Z" fill="#0BA84C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M63.75 77.8125C63.75 73.1526 67.5276 69.375 72.1875 69.375C76.8474 69.375 80.625 73.1526 80.625 77.8125C80.625 82.4724 76.8474 86.25 72.1875 86.25C67.5276 86.25 63.75 82.4724 63.75 77.8125Z" fill="#0BA84C"/>
</svg>

      </div>
      <p><%=ps.warranty.items[3]%></p>
    </div>

  </div>
  </div>
</section>
