<style>
    
</style>
<section class="warranty">
  <div class="main-content">
    <h2><%-(pc&&pc.warranty)?pc?.warranty?.title:''%></h2>
  <div class="warranty-grid">

    <div class="warranty-card">
      <div class="icon">
        <img src="/uploads/<%-(pc&&pc.warranty)?pc?.warranty?.cards[0].icon:''%>" alt="warranty-icon">
      </div>
      <p><%-(pc&&pc.warranty)?pc?.warranty?.cards[0].desc:''%></p>
    </div>

    <div class="warranty-card">
      <div class="icon">
        <img src="/uploads/<%-(pc&&pc.warranty)?pc?.warranty?.cards[1].icon:''%>" alt="warranty-icon">

      </div>
      <p><%-(pc&&pc.warranty)?pc?.warranty?.cards[1].desc:''%></p>
    </div>

    <div class="warranty-card">
      <div class="icon">
        <img src="/uploads/<%-(pc&&pc.warranty)?pc?.warranty?.cards[2].icon:''%>" alt="warranty-icon">

      </div>
      <p><%-(pc&&pc.warranty)?pc?.warranty?.cards[2].desc:''%></p>
    </div>

    <div class="warranty-card">
      <div class="icon">
        <img src="/uploads/<%-(pc&&pc.warranty)?pc?.warranty?.cards[3].icon:''%>" alt="warranty-icon">

      </div>
      <p><%-(pc&&pc.warranty)?pc?.warranty?.cards[3].desc:''%></p>
    </div>

  </div>
  </div>
</section>
