
<section id="why-choose" class="toppilife-difference">
 
    <div class="main-content">
    <h2 class="title"><%-(pc&&pc.whychooseus)?pc?.whychooseus?.title:''%></h2>
  <div class="difference-box">
    <div class="product">
      <img src="/uploads/<%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.img_url:''%>" loading="lazy" alt="ToppiLife product">
      <button class="btn-consult">TƯ VẤN NGAY →</button>
    </div>

    <div class="benefits">
      <div class="benefit">
        <span class="number">1</span>
      <%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.line1:''%>
      </div>
      <div class="benefit">
        <span class="number">2</span>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.line2:''%>
      </div>
      <div class="benefit">
        <span class="number">3</span>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.line3:''%>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="toppilife-compare">
  <div class="main-content">
    <h2><%-(pc&&pc.whychooseus)?pc?.whychooseus?.title_2:''%></h2>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th class="criteria">TIÊU CHÍ</th>
          <th class="drug">THUỐC TÂY</th>
          <th class="supplement">THỰC PHẨM CHỨC NĂNG</th>
          <th class="spa">SPA/TRỊ LIỆU</th>
          <th class="device">MÁY CHĂM SÓC SỨC KHOẺ ĐIỆN TRƯỜNG TOPPILIFE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>HIỆU QUẢ</td>
          <td>Nhanh nhưng dễ tái phát</td>
          <td>Từ từ, cần kiên trì</td>
          <td>Thư giãn tạm thời</td>
          <td>Tác động tận gốc...</td>
        </tr>
        <tr>
          <td>AN TOÀN</td>
          <td>Dễ có tác dụng phụ</td>
          <td>Tương đối an toàn</td>
          <td>Phụ thuộc tay nghề</td>
          <td>Không thuốc, an toàn cho người già</td>
        </tr>
        <tr>
          <td>CHI PHÍ</td>
          <td>Tốn kém</td>
          <td>Mua đều hàng tháng</td>
          <td>Cao, tốn công đi lại</td>
          <td>Đầu tư một lần, dùng lâu dài</td>
        </tr>
        <tr>
          <td>TÍNH TIỆN LỢI</td>
          <td>Phải uống đều</td>
          <td>Cần dùng liên tục</td>
          <td>Phải đặt lịch hẹn</td>
          <td>Mỗi ngày 30 phút như massage tại nhà</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>
<section class="safe-features">
  <div class="main-content">
    <h2><%-(pc&&pc.whychooseus)?pc?.whychooseus?.title_3:''%></h2>

  <div class="feature-grid">
    <div class="feature-card">
      <div class="icon">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.135 28.1178C16.55 57.4153 28.885 76.6178 39.23 87.6953C45.2656 94.203 52.2718 99.7377 60 104.103C67.7297 99.741 74.7363 94.2069 80.77 87.6978C91.11 76.6128 103.45 57.4128 104.865 28.1178L60 15.3003L15.135 28.1178ZM62.25 31.3953L68.17 43.3953L81.4 45.3178C81.8613 45.3852 82.2944 45.5802 82.6507 45.8808C83.007 46.1814 83.2721 46.5756 83.4161 47.019C83.5602 47.4623 83.5774 47.937 83.4659 48.3896C83.3544 48.8422 83.1185 49.2547 82.785 49.5803L73.21 58.9153L75.46 72.0903C75.5388 72.55 75.4874 73.0227 75.3116 73.4547C75.1358 73.8868 74.8426 74.261 74.4652 74.5352C74.0878 74.8093 73.6412 74.9724 73.176 75.006C72.7107 75.0396 72.2454 74.9424 71.8325 74.7253L60 68.5003L48.1675 74.7203C47.7546 74.9374 47.2893 75.0346 46.824 75.001C46.3588 74.9674 45.9122 74.8043 45.5348 74.5302C45.1574 74.256 44.8643 73.8818 44.6885 73.4497C44.5127 73.0177 44.4612 72.545 44.54 72.0853L46.79 58.9103L37.215 49.5753C36.8815 49.2496 36.6456 48.8372 36.5341 48.3846C36.4226 47.932 36.4398 47.4573 36.5839 47.014C36.7279 46.5706 36.993 46.1764 37.3493 45.8758C37.7056 45.5752 38.1388 45.3802 38.6 45.3128L51.83 43.3903L57.75 31.3903C57.9784 30.9954 58.3067 30.6677 58.7019 30.44C59.0971 30.2123 59.5453 30.0927 60.0015 30.0932C60.4576 30.0937 60.9055 30.2143 61.3002 30.4429C61.695 30.6714 62.0225 30.9999 62.25 31.3953Z" fill="#22CB68"/>
<path d="M113.185 20.0952L60.685 5.09519C60.2372 4.96762 59.7628 4.96762 59.315 5.09519L6.815 20.0952C6.2921 20.2442 5.83201 20.5596 5.50449 20.9935C5.17696 21.4275 4.99985 21.9565 5 22.5002C5 58.1827 19.64 81.3602 31.9225 94.5202C39.5762 102.947 48.7726 109.83 59.015 114.798C59.3263 114.931 59.6614 115 60 115C60.3386 115 60.6737 114.931 60.985 114.798C71.2274 109.83 80.4238 102.947 88.0775 94.5202C100.36 81.3602 115 58.1827 115 22.5002C115 21.9565 114.823 21.4275 114.496 20.9935C114.168 20.5596 113.708 20.2442 113.185 20.0952ZM84.435 91.0952C77.449 98.7005 69.1776 105.015 60 109.75C50.828 105.02 42.5602 98.7119 35.575 91.1152C24.125 78.8352 10.515 57.3652 10.015 24.3802L60 10.1002L109.985 24.3802C109.485 57.3652 95.875 78.8352 84.425 91.1077L84.435 91.0952Z" fill="#22CB68"/>
</svg>

        <!-- <img src="icon-shield.png" alt="Shield icon"> -->
       

      </div>
      <p>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.cards[0]:''%>
      </p>
    </div>

    <div class="feature-card">
      <div class="icon">
        <!-- <img src="icon-chip.png" alt="Chip icon"> -->
          <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M93.75 9.37463C92.4228 9.36722 91.1176 9.71409 89.9692 10.3794C88.8208 11.0448 87.8707 12.0046 87.217 13.1597C86.5633 14.3148 86.2297 15.6234 86.2505 16.9505C86.2714 18.2775 86.646 19.575 87.3356 20.709C87.261 20.7512 87.1896 20.7989 87.1219 20.8515L77.9737 29.9996H65.625C65.1277 29.9996 64.6508 30.1972 64.2992 30.5488C63.9475 30.9004 63.75 31.3773 63.75 31.8746C63.75 32.3719 63.9475 32.8488 64.2992 33.2005C64.6508 33.5521 65.1277 33.7496 65.625 33.7496H78.75C79.2472 33.7495 79.7241 33.5519 80.0756 33.2003L89.7731 23.5028C89.8258 23.4351 89.8734 23.3636 89.9156 23.289C90.9059 23.8818 92.0199 24.2376 93.1704 24.3287C94.321 24.4199 95.477 24.2438 96.5483 23.8144C97.6196 23.3849 98.5771 22.7136 99.3461 21.853C100.115 20.9923 100.675 19.9656 100.981 18.8529C101.288 17.7402 101.333 16.5717 101.114 15.4386C100.894 14.3055 100.416 13.2385 99.7155 12.3209C99.0155 11.4034 98.1128 10.66 97.0779 10.1489C96.0431 9.6378 94.9042 9.37282 93.75 9.37463Z" fill="#6FC7B2"/>
<path d="M105 41.2498C103.332 41.2526 101.712 41.8125 100.399 42.8408C99.0851 43.8691 98.1526 45.3067 97.7494 46.9254C97.6677 46.9019 97.5844 46.885 97.5 46.8748H60V18.7498C59.9954 15.7031 58.931 12.7529 56.9894 10.405C55.0477 8.05719 52.3498 6.45796 49.3581 5.88157C46.3664 5.30518 43.2673 5.78753 40.5924 7.24593C37.9174 8.70432 35.8331 11.0479 34.6969 13.8748C34.5498 14.2329 34.2968 14.5374 33.9717 14.7476C33.6466 14.9577 33.265 15.0634 32.8781 15.0504L32.4075 15.0242C32.2313 15.0129 32.0625 14.9998 31.875 14.9998C27.094 14.993 22.4168 16.3943 18.4272 19.0289C14.4376 21.6634 11.3121 25.4145 9.44089 29.8141C7.56966 34.2138 7.0355 39.067 7.90508 43.7683C8.77466 48.4695 11.0095 52.8106 14.3306 56.2498C18.4868 60.6073 24.1235 63.2514 30.1313 63.6617C30.442 61.0564 31.3541 58.5591 32.7957 56.3668C34.2372 54.1746 36.1686 52.3475 38.4375 51.0298C38.866 50.8056 39.3646 50.7557 39.829 50.8905C40.2935 51.0252 40.6879 51.3342 40.9299 51.7529C41.1719 52.1716 41.2428 52.6676 41.1278 53.1373C41.0127 53.607 40.7206 54.0141 40.3125 54.2736C38.0557 55.5733 36.2374 57.5162 35.0899 59.854C33.9423 62.1919 33.5174 64.8187 33.8696 67.3992C34.2217 69.9796 35.3348 72.3965 37.0669 74.3414C38.7989 76.2863 41.0712 77.671 43.5938 78.3186C44.0352 78.433 44.4198 78.7044 44.6756 79.082C44.9314 79.4596 45.0407 79.9174 44.9833 80.3698C44.9258 80.8223 44.7054 81.2382 44.3634 81.5399C44.0213 81.8415 43.5811 82.0081 43.125 82.0086C42.9663 82.0095 42.8081 81.9899 42.6544 81.9504C39.3312 81.0926 36.3489 79.241 34.1061 76.6431C31.8632 74.0451 30.4667 70.8245 30.1031 67.4117C23.8607 67.043 17.926 64.5758 13.2619 60.4104C11.6187 61.5186 10.2489 62.9859 9.25616 64.7014C8.26342 66.4168 7.67368 68.3355 7.53153 70.3124C7.38939 72.2893 7.69855 74.2726 8.43565 76.1124C9.17275 77.9522 10.3185 79.6004 11.7862 80.9323C12.05 81.1723 12.2398 81.4825 12.3334 81.8266C12.4271 82.1706 12.4207 82.5343 12.315 82.8748C11.2965 86.1555 10.9829 89.6145 11.3948 93.0249C11.8067 96.4353 12.9349 99.7201 14.7052 102.664C16.4756 105.608 18.8482 108.144 21.6675 110.107C24.4868 112.07 27.6891 113.414 31.0645 114.052C34.4398 114.691 37.912 114.608 41.2533 113.811C44.5946 113.013 47.7296 111.518 50.4527 109.424C53.1758 107.33 55.4256 104.684 57.0545 101.66C58.6833 98.6355 59.6545 95.3009 59.9044 91.8748H77.9737L87.1219 101.023C87.1896 101.076 87.261 101.123 87.3356 101.165C86.3815 102.75 86.0399 104.628 86.3755 106.447C86.7111 108.266 87.7006 109.899 89.1573 111.038C90.614 112.177 92.4373 112.744 94.2833 112.632C96.1292 112.519 97.8702 111.735 99.1779 110.428C100.486 109.12 101.27 107.379 101.382 105.533C101.494 103.687 100.928 101.864 99.7882 100.407C98.6488 98.9504 97.0158 97.9609 95.1971 97.6253C93.3784 97.2897 91.4998 97.6313 89.9156 98.5854C89.8734 98.5108 89.8258 98.4394 89.7731 98.3717L80.0756 88.6742C79.7241 88.3225 79.2472 88.1249 78.75 88.1248H60V50.6248H97.5C97.5842 50.6137 97.6675 50.5968 97.7494 50.5742C98.0932 51.9341 98.812 53.17 99.824 54.1413C100.836 55.1126 102.1 55.7802 103.473 56.068C104.846 56.3558 106.272 56.2522 107.589 55.7691C108.906 55.286 110.06 54.4428 110.921 53.3355C111.782 52.2283 112.315 50.9014 112.459 49.5061C112.603 48.1108 112.352 46.7032 111.735 45.4436C111.117 44.184 110.159 43.1231 108.968 42.3816C107.778 41.6402 106.403 41.248 105 41.2498Z" fill="#6FC7B2"/>
<path d="M93.75 65.625C92.0818 65.6278 90.4623 66.1877 89.1487 67.216C87.8351 68.2443 86.9026 69.6819 86.4994 71.3006C86.4177 71.2771 86.3343 71.2602 86.25 71.25H65.625C65.1277 71.25 64.6508 71.4475 64.2992 71.7992C63.9475 72.1508 63.75 72.6277 63.75 73.125C63.75 73.6223 63.9475 74.0992 64.2992 74.4508C64.6508 74.8025 65.1277 75 65.625 75H86.25C86.3342 74.9889 86.4175 74.972 86.4994 74.9494C86.8432 76.3093 87.562 77.5452 88.574 78.5165C89.5859 79.4878 90.8503 80.1554 92.2231 80.4432C93.596 80.731 95.022 80.6274 96.3389 80.1443C97.6557 79.6612 98.8104 78.818 99.6714 77.7107C100.532 76.6034 101.065 75.2766 101.209 73.8813C101.353 72.486 101.102 71.0784 100.485 69.8188C99.8675 68.5592 98.909 67.4983 97.7183 66.7568C96.5276 66.0154 95.1527 65.6232 93.75 65.625Z" fill="#6FC7B2"/>
</svg>
      </div>
      <p>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.cards[1]:''%>
      </p>
    </div>

    <div class="feature-card">
      <div class="icon">
        <!-- <img src="icon-brain.png" alt="Brain icon"> -->
         <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M86.25 114.375C79.7876 114.368 73.5921 111.797 69.0225 107.227C64.4529 102.658 61.8824 96.4623 61.875 90V69.375C61.8638 69.2649 61.8418 69.1563 61.8094 69.0506C63.0714 68.6218 64.1402 67.7589 64.8252 66.6155C65.5103 65.4721 65.767 64.1226 65.5498 62.8076C65.3325 61.4925 64.6553 60.2974 63.6389 59.4351C62.6225 58.5728 61.3329 58.0995 60 58.0995C58.6671 58.0995 57.3775 58.5728 56.3611 59.4351C55.3447 60.2974 54.6675 61.4925 54.4502 62.8076C54.233 64.1226 54.4897 65.4721 55.1748 66.6155C55.8598 67.7589 56.9286 68.6218 58.1906 69.0506C58.1582 69.1563 58.1362 69.2649 58.125 69.375V90C58.125 96.4646 55.5569 102.664 50.9857 107.236C46.4145 111.807 40.2146 114.375 33.75 114.375C27.2853 114.375 21.0855 111.807 16.5143 107.236C11.9431 102.664 9.37499 96.4646 9.37499 90C9.384 89.0921 9.44661 88.1855 9.56249 87.285C13.2199 90.2553 17.7884 91.8761 22.5 91.875H28.47C28.9123 93.126 29.7826 94.1804 30.9271 94.8518C32.0717 95.5232 33.4167 95.7683 34.7245 95.544C36.0323 95.3196 37.2187 94.6401 38.0739 93.6256C38.9292 92.6111 39.3983 91.3269 39.3983 90C39.3983 88.673 38.9292 87.3889 38.0739 86.3744C37.2187 85.3598 36.0323 84.6804 34.7245 84.456C33.4167 84.2316 32.0717 84.4768 30.9271 85.1481C29.7826 85.8195 28.9123 86.8739 28.47 88.125H22.5C20.1406 88.1238 17.8078 87.6261 15.6535 86.664C13.4991 85.702 11.5714 84.2973 9.99562 82.5412C9.85681 82.2944 9.66464 82.0817 9.43312 81.9187C6.74099 78.6387 5.38981 74.4614 5.65102 70.2261C5.91222 65.9908 7.76647 62.0112 10.8412 59.0868C15.1732 62.8982 20.6458 65.167 26.4037 65.5387C26.8286 68.1765 28.1783 70.577 30.2114 72.3106C32.2445 74.0441 34.8282 74.9974 37.5 75C37.9973 75 38.4742 74.8024 38.8258 74.4508C39.1775 74.0992 39.375 73.6222 39.375 73.125C39.375 72.6277 39.1775 72.1508 38.8258 71.7991C38.4742 71.4475 37.9973 71.25 37.5 71.25C36.0169 71.2496 34.5671 70.8096 33.3341 69.9855C32.101 69.1613 31.1399 67.9901 30.5724 66.6199C30.0049 65.2496 29.8564 63.7419 30.1456 62.2872C30.4349 60.8326 31.1489 59.4963 32.1975 58.4475C32.539 58.0938 32.728 57.6202 32.7238 57.1286C32.7195 56.637 32.5223 56.1667 32.1747 55.819C31.827 55.4714 31.3567 55.2742 30.8651 55.2699C30.3735 55.2657 29.8999 55.4547 29.5462 55.7962C27.9104 57.4249 26.8208 59.5215 26.4281 61.7962C20.606 61.3847 15.172 58.7257 11.2743 54.3812C7.37668 50.0367 5.3208 44.347 5.54111 38.5145C5.76143 32.6821 8.2407 27.1637 12.455 23.1256C16.6693 19.0876 22.2884 16.8461 28.125 16.875C28.8544 16.875 29.5725 16.9143 30.2831 16.9837C30.6243 17.0169 30.9679 16.9548 31.2758 16.8041C31.5837 16.6535 31.8437 16.4203 32.0269 16.1306C32.17 15.9397 32.2756 15.7233 32.3381 15.4931C33.1246 12.3969 35.0157 9.69505 37.6555 7.89605C40.2953 6.09705 43.5016 5.32503 46.6709 5.72531C49.8402 6.1256 52.7539 7.67057 54.8635 10.0694C56.9731 12.4682 58.133 15.5555 58.125 18.75V22.5C58.1205 25.9796 56.7363 29.3154 54.2758 31.7758C51.8154 34.2363 48.4796 35.6205 45 35.625H39.03C38.5877 34.3739 37.7174 33.3195 36.5728 32.6482C35.4283 31.9768 34.0833 31.7316 32.7755 31.956C31.4677 32.1804 30.2813 32.8598 29.426 33.8743C28.5708 34.8889 28.1017 36.173 28.1017 37.5C28.1017 38.8269 28.5708 40.1111 29.426 41.1256C30.2813 42.1401 31.4677 42.8196 32.7755 43.0439C34.0833 43.2683 35.4283 43.0232 36.5728 42.3518C37.7174 41.6804 38.5877 40.626 39.03 39.375H45C48.1023 39.3717 51.1437 38.5134 53.79 36.8942C56.4363 35.275 58.585 32.9577 60 30.1968C61.415 32.9577 63.5637 35.275 66.21 36.8942C68.8562 38.5134 71.8977 39.3717 75 39.375H80.97C81.4123 40.626 82.2826 41.6804 83.4271 42.3518C84.5717 43.0232 85.9167 43.2683 87.2245 43.0439C88.5323 42.8196 89.7187 42.1401 90.574 41.1256C91.4292 40.1111 91.8983 38.8269 91.8983 37.5C91.8983 36.173 91.4292 34.8889 90.574 33.8743C89.7187 32.8598 88.5323 32.1804 87.2245 31.956C85.9167 31.7316 84.5717 31.9768 83.4271 32.6482C82.2826 33.3195 81.4123 34.3739 80.97 35.625H75C71.5204 35.6205 68.1846 34.2363 65.7242 31.7758C63.2637 29.3154 61.8795 25.9796 61.875 22.5V18.75C61.8883 15.5567 63.0653 12.4778 65.1856 10.09C67.3059 7.70221 70.2239 6.16929 73.3932 5.77839C76.5625 5.38749 79.7656 6.16542 82.4025 7.96647C85.0394 9.76752 86.9293 12.4681 87.7181 15.5625C87.8245 15.9995 88.0855 16.3833 88.453 16.6429C88.8204 16.9024 89.2694 17.0202 89.7169 16.9743C90.4275 16.9143 91.1456 16.875 91.875 16.875C97.6932 16.8737 103.285 19.1275 107.477 23.1627C111.668 27.198 114.133 32.7006 114.352 38.5147C114.572 44.3287 112.53 50.0017 108.655 54.3417C104.78 58.6817 99.3736 61.3509 93.5719 61.7887C93.1792 59.514 92.0896 57.4174 90.4538 55.7887C90.2808 55.6096 90.0739 55.4668 89.8451 55.3685C89.6164 55.2703 89.3703 55.2185 89.1214 55.2164C88.8724 55.2142 88.6255 55.2616 88.3951 55.3559C88.1647 55.4502 87.9553 55.5894 87.7793 55.7655C87.6032 55.9415 87.464 56.1509 87.3697 56.3813C87.2754 56.6117 87.228 56.8586 87.2302 57.1076C87.2323 57.3565 87.284 57.6026 87.3823 57.8313C87.4806 58.0601 87.6234 58.267 87.8025 58.44C88.8536 59.4885 89.57 60.8253 89.8607 62.2813C90.1514 63.7372 90.0035 65.2466 89.4357 66.6184C88.8679 67.9902 87.9057 69.1626 86.671 69.9871C85.4363 70.8116 83.9847 71.2511 82.5 71.25C82.0027 71.25 81.5258 71.4475 81.1742 71.7991C80.8225 72.1508 80.625 72.6277 80.625 73.125C80.625 73.6222 80.8225 74.0992 81.1742 74.4508C81.5258 74.8024 82.0027 75 82.5 75C85.1715 74.997 87.7547 74.0434 89.7874 72.31C91.8201 70.5765 93.1696 68.1762 93.5944 65.5387C99.3523 65.167 104.825 62.8982 109.157 59.0868C112.232 62.0112 114.086 65.9908 114.347 70.2261C114.608 74.4614 113.257 78.6387 110.565 81.9187C110.333 82.0817 110.141 82.2944 110.002 82.5412C108.427 84.2971 106.5 85.7017 104.345 86.6637C102.191 87.6257 99.8591 88.1236 97.5 88.125H91.53C91.0877 86.8739 90.2174 85.8195 89.0728 85.1481C87.9283 84.4768 86.5833 84.2316 85.2755 84.456C83.9677 84.6804 82.7813 85.3598 81.926 86.3744C81.0708 87.3889 80.6017 88.673 80.6017 90C80.6017 91.3269 81.0708 92.6111 81.926 93.6256C82.7813 94.6401 83.9677 95.3196 85.2755 95.544C86.5833 95.7683 87.9283 95.5232 89.0728 94.8518C90.2174 94.1804 91.0877 93.126 91.53 91.875H97.5C102.212 91.8761 106.78 90.2553 110.438 87.285C110.553 88.1855 110.616 89.0921 110.625 90C110.618 96.4623 108.047 102.658 103.478 107.227C98.9079 111.797 92.7124 114.368 86.25 114.375Z" fill="#A2C20B"/>
</svg>

      </div>
      <p>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.cards[2]:''%>
      </p>
    </div>
  </div>
  </div>

</section>

