
<section id="why-choose" class="toppilife-difference">
 
    <div class="main-content">
    <h2 class="title"><%-(pc&&pc.whychooseus)?pc?.whychooseus?.title:''%></h2>
  <div class="difference-box">
    <div class="product">
      <img src="/uploads/<%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.img_url:''%>" loading="lazy" alt="ToppiLife product">
      <a
  href="https://zalo.me/<%=pc?.pageinfo?.phone%>"
  target="_blank"
  class="btn-consult"
>
  Tư vấn ngay →<i class="fa-solid fa-arrow-right"></i>
</a>
    </div>

    <div class="benefits">
      <div class="benefit">
        <span class="number">1</span>
      <%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.line1:''%>
      </div>
      <div class="benefit">
        <span class="number">2</span>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.line2:''%>
      </div>
      <div class="benefit">
        <span class="number">3</span>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.item_card.line3:''%>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="toppilife-compare">
  <div class="main-content">
    <h2><%-(pc&&pc.whychooseus)?pc?.whychooseus?.title_2:''%></h2>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th class="criteria" style="text-transform: uppercase;"><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[0]?.tr0_col0:''%></th>
          <th class="drug"style="text-transform: uppercase;" ><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[0]?.tr0_col1:''%></th>
          <th class="supplement"style="text-transform: uppercase;" ><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[0]?.tr0_col2:''%></th>
          <th class="spa"style="text-transform: uppercase;" ><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[0]?.tr0_col3:''%></th>
          <th class="device"style="text-transform: uppercase;" ><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[0]?.tr0_col4:''%></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[1]?.tr1_col0:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[1]?.tr1_col1:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[1]?.tr1_col2:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[1]?.tr1_col3:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[1]?.tr1_col4:''%></td>
        </tr>
        <tr>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[2]?.tr2_col0:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[2]?.tr2_col1:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[2]?.tr2_col2:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[2]?.tr2_col3:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[2]?.tr2_col4:''%></td>
        </tr>
        <tr>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[3]?.tr3_col0:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[3]?.tr3_col1:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[3]?.tr3_col2:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[3]?.tr3_col3:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[3]?.tr3_col4:''%></td>
        </tr>
        <tr>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[4]?.tr4_col0:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[4]?.tr4_col1:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[4]?.tr4_col2:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[4]?.tr4_col3:''%></td>
          <td><%-(pc&&pc.whychooseus.tbl.length>0)?pc.whychooseus?.tbl?.[4]?.tr4_col4:''%></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>
<section class="safe-features">
  <div class="main-content">
    <h2><%-(pc&&pc.whychooseus)?pc?.whychooseus?.title_3:''%></h2>

  <div class="feature-grid">
    <div class="feature-card">
      <div class="icon">
        <img style="display: inline; min-width: 120px; min-height: 120px; object-fit: cover;" src="/uploads/<%=(pc&&pc.whychooseus)?pc?.whychooseus?.cards[0].icon:''%>" alt="wcu-icon">

        <!-- <img src="icon-shield.png" alt="Shield icon"> -->
       

      </div>
      <p>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.cards[0].desc:''%>
      </p>
    </div>

    <div class="feature-card">
      <div class="icon">
        <!-- <img src="icon-chip.png" alt="Chip icon"> -->
                  <img style="display: inline; min-width: 120px; min-height: 120px; object-fit: cover;" src="/uploads/<%=(pc&&pc.whychooseus)?pc?.whychooseus?.cards[1].icon:''%>" alt="wcu-icon">
      </div>
      <p>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.cards[1].desc:''%>
      </p>
    </div>

    <div class="feature-card">
      <div class="icon">
        <!-- <img src="icon-brain.png" alt="Brain icon"> -->
                <img style="display: inline; min-width: 120px; min-height: 120px; object-fit: cover;" src="/uploads/<%=(pc&&pc.whychooseus)?pc?.whychooseus?.cards[2].icon:''%>" alt="wcu-icon">


      </div>
      <p>
        <%-(pc&&pc.whychooseus)?pc?.whychooseus?.cards[2].desc:''%>
      </p>
    </div>
  </div>
  </div>

</section>

